@import '/src/modules/shared/styles/var.scss';

.label {
    cursor: pointer;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 2px dashed #fff;

    &:hover {
        background: #ac7500;

        .popup_hidden {
            opacity: 1;
            visibility: visible;
        }
    }

    &_withImg {
        border-style: solid;
        background: rgba($color: #000000, $alpha: 0.4);

        &:hover {
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
}

.popup {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    border-radius: 15px;

    &_hidden {
        opacity: 0;
        visibility: hidden;
        background: rgba($color: #000000, $alpha: 0.6);
        backdrop-filter: blur(4px);
    }
}

.input {
    display: none;
}
