@import '/src/modules/shared/styles/mixins.scss';

.title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.checkboxes {
    @include checkbox-grid;
    margin-bottom: 20px;
}
