@import '/src/modules/shared/styles/var.scss';

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    &_bg {
        height: 60px;
        width: 60px;

        background: rgba($color: #fff, $alpha: 0.2);
        border: 1px solid rgba($color: #fff, $alpha: 0.45);
        backdrop-filter: blur(2px);
        border-radius: 5px;
    }

    svg {
        height: 30px;
        width: 30px;
    }
}
