@import '/src/modules/shared/styles/var.scss';

.wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.input {
    position: relative;
}

.closeBtn {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 0;
    top: calc(50% - 10px);

    &:hover {
        svg {
            fill: #fff;
        }
    }

    svg {
        fill: $grey;
    }
}

.loaderWrap {
    height: 20px;
    width: 20px;
}
