@import '/src/modules/shared/styles/var.scss';

.wrap {
    padding: $mdContainerPadding;

    @media all and (max-width: 768px) {
        font-size: 15px;
    }
}

.title {
    margin-bottom: 10px;
}

.characteristic {
    &:last-child {
        .text {
            margin: 0;
        }
    }
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;

    margin-bottom: 10px;

    @media all and (max-width: 1200px) {
        font-size: 18px;
    }

    @media all and (max-width: 768px) {
        font-size: 17px;
    }
}

.text {
    margin-bottom: 20px;
}
