@import '/src/modules/shared/styles/var.scss';
@import '/src/modules/shared/styles/mixins.scss';

.wrap {
    height: 120px;
    @include admin-products-grid;
}

.image {
    position: relative;
    height: 100px;
}

.button {
    @include button-square-sm;

    &_edit {
        background: rgba($color: $purple, $alpha: 0.5);
        border: 1px solid $purple;

        svg {
            stroke: #fff;
        }

        &:hover {
            background: $purple;
        }
    }
}
