@import '/src/modules/shared/styles/var.scss';

.wrap {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.sliderWrap {
    position: relative;
}

.slider {
    margin-bottom: 17px;

    &_popup {
        margin-bottom: 0;

        .slide {
            border-radius: 0;
        }
    }

    @media all and (max-width: 480px) {
        margin-bottom: 0;
    }
}

.slide {
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;

    @media all and (max-width: 1200px) {
        border-radius: 20px;
    }

    @media all and (max-width: 960px) {
        border-radius: 15px;
    }

    @media all and (max-width: 768px) {
        border-radius: 10px;
    }

    @media all and (max-width: 480px) {
        border-radius: 0px;
    }
}

.thumbs {
    padding-right: 1px !important;

    @media all and (max-width: 480px) {
        position: absolute !important;
        bottom: 10px;
        left: 15px;
        width: calc(100% - 30px);
    }
}

.thumb {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    aspect-ratio: 16 / 9 !important;
    max-width: 160px;

    &_active {
        border: 1px solid $blueLight;
    }

    @media all and (max-width: 960px) {
        border-radius: 5px;
    }

    @media all and (max-width: 480px) {
        max-height: 18px;
        width: auto !important;
        flex-grow: 1;
        border-radius: 0;

        &::after {
            content: '';
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
        }

        &_active {
            border: none;

            &::after {
                background: $blueLight;
            }
        }

        div,
        img {
            display: none;
        }
    }
}

.nav {
    position: absolute;
    z-index: 0;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 6px;
    z-index: 1;

    @media all and (max-width: 960px) {
        display: none;
    }

    &_popup {
        bottom: 0;
        right: calc(-20px - $sliderBtnSize);
        top: calc(50% - $sliderBtnSize / 2);
        width: calc(100% + $sliderBtnSize * 2 + 40px);
        height: $sliderBtnSize;
        visibility: hidden;

        @media all and (max-width: 1660px) {
            right: 0;
            width: 100%;
        }

        @media all and (max-width: 960px) {
            display: flex;
        }

        justify-content: space-between;
    }
}

.popup {
    max-width: $popupMaxWidth;
    max-height: $popupMaxHeight;
    margin: 0 auto;
    // width: calc(100vw - 100px);
    aspect-ratio: 16 / 9;
    position: relative;
}

// unique service classNames for swiper to correctly initialize
.btnPrev,
.btnNext,
.btnPrev_2,
.btnNext_2 {
    display: block;
}
