@import '/src/modules/shared/styles/var.scss';

.wrap {
    background: $headerBg;
}

.header {
    max-width: $appMaxWidth;
    margin: 0 auto;
    padding: 25px 30px 0 30px;

    display: grid;
    grid-template-columns: 1fr 350px 1fr;

    position: relative;
    z-index: 10;
}

.logo {
    font-size: 64px;
    line-height: 125%;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
