@import '/src/modules/shared/styles/var.scss';

.icon {
    width: 28px;
    height: 25px;

    svg {
        height: 100%;
        width: 100%;
        fill: #fff;
    }

    &_sm {
        height: 17px;
        width: 17px;
    }

    &_dislike {
        svg {
            transform: rotate(180deg);
        }
    }

    &_red {
        svg {
            fill: $red;
        }
    }

    &_blue {
        svg {
            fill: $blueLight;
        }
    }
}
