@import '/src/modules/shared/styles/var.scss';

.logo {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: $purple;
    text-shadow: -2px 0px 0px $red, -4px 0px 0px $blueLight;
    font-size: 64px;

    &:visited {
        color: $purple;
    }

    position: relative;

    @media all and (max-width: 1440px) {
        font-size: 54px;
    }

    @media all and (max-width: 1200px) {
        font-size: 48px;
    }

    @media all and (max-width: 960px) {
        font-size: 40px;
    }

    &_header {
        bottom: -5px;

        @media all and (max-width: 1200px) {
            bottom: -3px;
        }

        @media all and (max-width: 960px) {
            bottom: 0;
        }

        @media all and (max-width: 768px) {
            font-size: 32px;
            min-width: 180px;
        }

        @media all and (max-width: 480px) {
            font-size: 24px;
            min-width: 135px;
        }
    }

    &_footer {
        width: fit-content;
        bottom: 5px;

        @media all and (max-width: 960px) {
            bottom: 0;
        }

        @media all and (max-width: 768px) {
            font-size: 36px;
            min-width: 210px;
        }
    }
}
