@import '/src/modules/shared/styles/var.scss';

.divider {
    width: 100%;
    background: $greyMid;
    margin: 20px 0;

    @media all and (max-width: 768px) {
        margin: 10px 0;
    }

    &_marginSm {
        margin: 12px 0;
    }
}
