@import '/src/modules/shared/styles/var.scss';

.filters {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: $mdContainerPadding;

    @media all and (max-width: 960px) {
        gap: 20px;
    }

    @media all and (max-width: 768px) {
        gap: 15px;
    }
}

.filter {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 10px;

    word-break: break-word;

    @media all and (max-width: 768px) {
        font-size: 15px;
    }

    &__title {
        font-weight: 700;
        text-transform: capitalize;
        color: $blueLight;
    }

    &__value {
        text-transform: capitalize;
    }
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 30px;
    aspect-ratio: 4 / 3 !important;
    display: flex;
    align-items: center;
    justify-content: center;

    @media all and (max-width: 960px) {
        height: 25px;
    }

    @media all and (max-width: 768px) {
        height: 20px;
    }

    svg {
        height: 100%;
        fill: #fff;
    }
}
