@import '/src/modules/shared/styles/mixins.scss';

.wrap {
    position: relative;

    h1 {
        @media all and (max-width: 600px) {
            padding-top: 10px;
        }
    }
}

.loader {
    width: fit-content;
    margin: 1rem auto 0 auto;
}

.product {
    @include semi-transparent-bg;

    &_bg {
        @include semi-transparent-bg-2;
    }
}
