@import '/src/modules/shared/styles/var.scss';

.wrap {
    font-family: 'Tomorrow', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    width: $adminSidebarWidth;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #555;
    background: #222;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: column;
}

.list {
    margin-left: 15px;
}

.listItem {
    padding: 5px 0;

    &_active {
        & > a {
            color: red;
        }
    }
}

.content {
    main {
        margin-left: $adminSidebarWidth;
        padding: $adminMainPadding;
    }
}
