@import '/src/modules/shared/styles/var.scss';

.wrap {
    height: $breadcrumbsHeight;
    padding-top: 15px;
    padding-bottom: 40px;
    line-height: 128%;
    position: relative;
    z-index: 1;

    display: flex;
    gap: 10px;
    align-items: center;

    @media all and (max-width: 1200px) {
        padding-top: 10px;
        padding-bottom: 15px;

        height: $breadcrumbsHeight1200;
    }

    @media all and (max-width: 768px) {
        padding-top: 10px;
        padding-bottom: 10px;

        height: $breadcrumbsHeight768;
    }

    @media all and (max-width: 600px) {
        display: none;
    }
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;

    &_active {
        cursor: default;
        span {
            color: #fff !important;
        }
    }

    &:hover {
        span {
            color: #fff;
        }
    }

    span {
        font-family: 'Orbitron';
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: rgba($color: #fff, $alpha: 0.7);
    }

    svg {
        margin-top: 2px;
    }
}
