@import '/src/modules/shared/styles/var.scss';
@import '/src/modules/shared/styles/mixins.scss';

.row {
    @include admin-orders-grid;
    border-bottom: 1px solid $greyMid;
    padding-bottom: 8px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: -12px 0 10px 0;
}

.sortWrap {
    display: flex;
    align-items: center;
    gap: 15px;
}
