.button {
    width: 100%;
    max-width: 200px;
    height: 64px;
    border: 1px solid #eeeeee;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    font-family: 'Orbitron';

    &_small {
        max-width: 160px;
        height: 53px;
        font-size: 15px;
    }

    &_error {
        border-color: red;
    }

    &_withIcon {
        &_hidden {
            .iconWrap {
                display: none;
            }
        }
    }

    &_submitting {
        opacity: 0.7;
    }

    &.font_500 {
        font-weight: 500;
    }

    &.font_700 {
        font-weight: 700;
    }
}

.iconWrap {
    height: 20px;
}
