@import '/src/modules/shared/styles/var.scss';

.imgInputs {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.form {
    margin-bottom: 100px;
}

.footer {
    height: 100px;
    width: calc(100% - $adminSidebarWidth - $scrollbarWidth);
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: $adminSidebarWidth;
    padding: $adminMainPadding;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background: $background;
    border-top: 1px solid $greyMid;
}

.error {
    color: $red;
}

.subtitle {
    margin-bottom: 0 !important;
}
