// price

@mixin price-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;

    @media all and (max-width: 768px) {
        gap: 11px;
    }

    @media all and (max-width: 480px) {
        gap: 7px;
    }
}

@mixin price-row-align-bot {
    @include price-row;
    align-items: flex-end;
}

@mixin price-main {
    font-family: 'Orbitron';
    font-weight: 500;
    line-height: 125%;
}

@mixin price-main-lg {
    @include price-main;

    font-size: 32px;
    color: $blueLight;

    @media all and (max-width: 1200px) {
        font-size: 24px;

        &_discount {
            font-size: 22px;
        }
    }

    @media all and (max-width: 960px) {
        font-size: 20px;

        &_discount {
            font-size: 18px;
        }
    }

    @media all and (max-width: 768px) {
        font-size: 18px;

        &_discount {
            font-size: 17px;
        }
    }
}

@mixin price-discount-lg {
    @include price-main;

    font-size: 26px;
    text-decoration-line: line-through;
    color: $grey;

    @media all and (max-width: 1200px) {
        font-size: 22px;
    }

    @media all and (max-width: 960px) {
        font-size: 18px;
    }

    @media all and (max-width: 768px) {
        font-size: 17px;
    }
}

@mixin price-main-md {
    @include price-main;

    color: $blueLight;
    font-size: 20px;

    @media all and (max-width: 1200px) {
        font-size: 18px;
    }

    @media all and (max-width: 768px) {
        font-size: 16px;
    }

    @media all and (max-width: 480px) {
        font-size: 15px;
    }
}

@mixin price-discount-md {
    @include price-main;

    text-decoration-line: line-through;
    color: $grey;
    font-size: 20px;

    @media all and (max-width: 1200px) {
        font-size: 18px;
    }

    @media all and (max-width: 768px) {
        font-size: 16px;
    }

    @media all and (max-width: 480px) {
        font-size: 15px;
    }
}

@mixin price-main-sm {
    @include price-main;

    color: $blueLight;
    font-size: 16px;

    @media all and (max-width: 768px) {
        font-size: 15px;
    }
}

@mixin price-discount-sm {
    @include price-main;

    text-decoration-line: line-through;
    color: $grey;
    font-size: 16px;

    @media all and (max-width: 768px) {
        font-size: 15px;
    }
}

// slider

@mixin slider-nav-default {
    display: flex;
    gap: 20px;
    justify-content: center;

    @media all and (max-width: 600px) {
        gap: 12px;
    }
}

@mixin slider-btn-default {
    margin-top: 38px;

    @media all and (max-width: 1200px) {
        margin-top: 25px;
    }

    @media all and (max-width: 600px) {
        margin-top: 15px;
    }

    &_prev {
        position: relative;
    }
    &_next {
        position: relative;
    }
    &_hidden {
        display: none !important;
    }
}

// shared

@mixin checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px 15px;
}

@mixin input-hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    height: 0px;
    width: 0px;
}
