// color schema
$background: #25212b;
$fontColor: #fff;
$headerBg: #1d1a21;

$grey: #ffffff80;

$blueLight: #00e4f2;
// $blue: #0ea5e9;
$blueDark: #0c4a6e;

$red: #ff003c;
$yellow: #f8ef00;
$purple: #710fad;

// sizes

$loginWarningiconSize: 28px;

$appMaxWidth: 1260px;

$popupMaxHeight: calc(100vh - 30px);
$popupMaxWidth: 1500px;

$sliderBtnSize: 38px;
$breadcrumbsHeight: 75px;
// $centerAreaWidth: 700px;
// $sideAreaWidth: 265px;

// $blocksMargin: 15px;
// $headerHeight: 50px;
