$background: #262626;
$fontColor: #fff;
$fontColorDark: #18181b;

$black: rgb(20, 20, 20);

$grey: #71717a;

$blue300: #93c5fd;
$blue500: #0ea5e9;
$blue900: #0c4a6e;

$red500: #f43f5e;

$loginWarningiconSize: 28px;

// $appMaxWidth: 1185px;
// $centerAreaWidth: 700px;
// $sideAreaWidth: 265px;

// $blocksMargin: 15px;
// $headerHeight: 50px;
