@import '/src/modules/shared/styles/var.scss';

$defaultHeight: 600px;

.productsWrap {
    border: 1px solid $grey;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 0 20px 0;
    position: relative;
    height: $defaultHeight;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.selectedProduct {
    border: 1px solid $grey;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
