@import '/src/modules/shared/styles/var.scss';

.gridRow {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;

    &.descRow {
        @media all and (max-width: 1200px) {
            grid-template-columns: 4fr 3fr;
        }

        @media all and (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
        }
    }

    &.sysReqRow {
        @media all and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }
}

.title {
    line-height: 140%;
}
