@import '/src/modules/shared/styles/var';
@import '/src/modules/shared/styles/mixins';

.inputWrap {
    padding: 10px 0 5px 0;

    &_blackWhite {
        padding: 0;
    }
}

.inputEditable__wrapOuter {
    margin-top: -5px;
    margin-bottom: 25px;
}

.buttonAddNewField {
    margin-top: 10px;
}

.inputEditable__wrap {
    display: grid;
    grid-template-columns: 1fr 135px;
    grid-gap: 30px;
    align-items: center;

    @media all and (max-width: 768px) {
        grid-template-columns: 1fr 120px;
    }

    &_singleField {
        grid-template-columns: 1fr 200px;

        @media all and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-gap: 5px;
            margin-bottom: 10px;
        }
    }
}

.title {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;

    &_md {
        font-size: 20px;
    }
}

.input {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin-bottom: 5px;
    background: rgba($color: $blueLight, $alpha: 0.1);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: 2px solid;
    border-color: $blueDark;
    padding: 10px;

    transition: 0.2s;

    &.textarea {
        overflow-y: scroll;
        height: unset;
        resize: none;
        cursor: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent; /* цвет дорожки */
        }

        &::-webkit-scrollbar-thumb {
            background-color: gray; /* цвет плашки */
            border-radius: 5px;
            visibility: visible;
        }
    }

    &.date {
        background-color: $purple;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 5px;
        width: unset;
        height: auto;

        &::-webkit-calendar-picker-indicator {
            color: #fff;
            background-color: #fff;
            padding: 5px;
            margin-left: 15px;
            cursor: pointer;
            border-radius: 3px;
        }
    }

    &:hover {
        background: rgba($color: $blueLight, $alpha: 0.1);
        border-color: $blueLight;
    }

    &:focus {
        border-color: $blueLight !important;
        background: rgba($color: $blueLight, $alpha: 0.2) !important;

        &::placeholder {
            color: #f5f5f5;
        }
    }

    &:autofill {
        box-shadow: 0 0 0 60px $background inset !important;
        -webkit-text-fill-color: #fff !important;
        caret-color: #fff;
    }

    &::placeholder {
        font-weight: 500;
        color: $grey;
        transition: 0.2s;
    }

    &_multifield {
        display: flex;
        flex-direction: column;

        .inputWrap {
            flex-grow: 1;
            height: fit-content;
        }
    }

    &_touched {
        border-color: rgba($color: $blueLight, $alpha: 0.7);
    }

    &_error {
        border-color: $red;
        background: rgba($color: $red, $alpha: 0.1);
    }

    // diff colors

    &_yellow {
        background: rgba($color: $yellow, $alpha: 0.1);
        border-color: $yellow;
        color: #000;
    }

    &_purple {
        background: rgba($color: $purple, $alpha: 0.15);
        border-color: rgba($color: $purple, $alpha: 0.4);

        &:hover {
            background: rgba($color: $purple, $alpha: 0.15);
            border-color: $purple;
        }

        &:focus {
            border-color: $purple !important;
            background: rgba($color: $purple, $alpha: 0.3) !important;
        }
        &.input_touched {
            border-color: $purple;
            background: rgba($color: $purple, $alpha: 0.3);
        }
        &.input_error {
            border-color: $red;
            background: rgba($color: $red, $alpha: 0.1);
        }
    }

    &.input_blackWhite {
        height: fit-content;
        border: 1px solid #ffffff;
        border-radius: 0;
        padding: 7px 40px 7px 15px;
        margin: 0;
        background: transparent;
        font-size: 15px;
        line-height: 125%;

        &:hover {
            background: transparent !important;
            border: 1px solid #ffffff !important;
        }

        &:focus {
            background: rgba($color: $purple, $alpha: 0.5) !important;
            border: 1px solid $purple !important;
        }
    }
}

.checkboxWrap {
    position: relative;
    min-height: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;

    .checkboxIcon {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 20px;
        width: 20px;
        background: rgba(217, 217, 217, 0.15);
        border: 1px solid rgba(0, 228, 242, 0.3);
        border-radius: 2px;

        svg {
            display: none;
        }
    }

    span {
        text-transform: capitalize;
    }
}

.checkbox {
    @include input-hidden;

    &:checked + .checkboxWrap .checkboxIcon {
        background: #710fad;
        border: 1px solid #00e4f2;

        svg {
            display: block;
        }
    }
}

.radioWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.error {
    color: $red;

    &:first-letter {
        text-transform: capitalize;
    }
}

.userInputWrap {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}
