@import '/src/modules/shared/styles/var.scss';

.selectedProductWrap {
    margin-bottom: 35px;
}

.selectedProduct {
    border: 1px solid $blueLight;
    margin-bottom: 20px;
}

.desc {
    display: block;
    margin-bottom: 10px;
}
